@import 'https://fonts.googleapis.com/css2?family=Oswald';
@import 'https://fonts.googleapis.com/css?family=Open Sans';

:root {
  --amplify-primary-color: #5e30b8;
  --amplify-primary-tint: #7857b8;
  --amplify-primary-shade: #40207d;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  background-color: black;
  height: 100vh;
}

body,
#root {
  margin: 0;
  font-family: 'Oswald';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171717 !important;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Oswald';
  color: white;
}

h2 {
  font-family: 'Open Sans';
  color: white;
}

h3 {
  font-family: 'Open Sans';
  margin-block-start: 5px;
  margin-block-end: 5px;
  font-size: 18px;
}

h4 {
  font-family: 'Open Sans';
  margin-block-start: 5px;
  margin-block-end: 5px;
  font-size: 14px;
  font-weight: 635;
}

h5 {
  font-family: 'Open Sans';
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: -10px;
}

hr {
  margin-block-start: 5px;
  margin-block-end: 5px;
}

p {
  font-family: 'Open Sans';
  color: white;
}

amplify-authenticator {
  --container-height: 100%;
}


    /* primary button */
    .btn-primary {
        background-color: #FFF;
        color: #5e30b8;
        border-color: #5e30b8;
        border-radius: 5px;
    }
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active    {
        background-color: #8B76F5;
        color: #FFF;
        border-color: #8B76F5;
    }




.active {
  background-color: #8B76F5;
}

.dropdown-item.active {
  background-color: #8B76F5;
}

.dropdown-item:active {
  background-color: #8B76F5;
}

INPUT[type=checkbox]:focus
{
    outline: 2px solid rgba(0, 0, 0, 0.2);
}

INPUT[type=checkbox]
{
    background-color: #DDD;
    border-radius: 2px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    /* position: relative; */
    top: 0.3em;
}

INPUT[type=checkbox]:checked
{
    background-color: #8B76F5;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/27/White_check.svg');
  background-repeat: no-repeat;
  background-position: center;
  /* The size of the checkmark icon, you may/may not need this */
  background-size: 1em;
  border-radius: 2px;
  color: white;
}